<!DOCTYPE html>
<html>
  <head>
    <title>NASA CLOUD API INTEGRATION PROJECT</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='style.css') }}">
  </head>
  <body class="nasa">
    <h1 class="nasa_title">NASA Cloud API INTEGRATION</h1>
    <div class="nasa_api_link">
      <a href="/apod">
        <button class="nasa_api_button" role="button">
          <span class="text">Picture of the Day</span>
        </button>
      </a>
      <a href="/epic">
        <button class="nasa_api_button" role="button">
          <span class="text">Earth Polychromatic Imaging Camera</span>
        </button>
      </a>
    </div>
  </body>
</html>
